@import "tailwindcss";
@plugin "tailwindcss-animate";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #DE03B5;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --font-inter: var(--font-inter);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
