@import "tailwindcss";
@plugin "tailwindcss-animate";

:root {
  --background: #FFFCF3;
  --foreground: #171717;
  --secondary: #DE03B5;
  --pink-ring: #FFA4EE;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --font-inter: var(--font-inter);
  --color-pink-ring: var(--pink-ring);
}



body {
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.testimonial-fade-left{
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.testimonial-fade-right{
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
